:root {

  /* ================== */
  /* Varáveis Numéricas */
  /* ================== */

  --defaltPaddingMargin: 20px;

  --textPaddingMargin: 40px;
  --textCardMargin: 20px;

  --defaltBoxSizeW: 40vw;
  --defaltBoxSizeV: 45vh;

  --defaltBoxInnerSizeW: 35vw;
  --defaltBoxInnerSizeV: 40vh;

  --sectionBorderRadius: 16px;

  --fontSize: 20px;


  /* =============== */
  /* Paleta de Cores */
  /* =============== */

  --color1: #14aaeb;
  --color2: #38bff0;
  --color3: #5cd5f5;
  --color4: #80eafa;
  --color5: #a4ffff;

  --hoverColor: rgba(5, 5, 5, 0.4);

  --fontColor: black;


  --backgroundHeader: var(--color3);

  --backgroudPgColor: #0fed16;
  --backgroudMainColor: var(--color4);

  --footerBackground: #f4f4f4;
  ;
  --footerBorder: #e5e5e5;
  --footerColor: #2f2f2f;
  --footerColorNav: #999;
  --footerButtonColor: rgb(33, 33, 33, 0.07);

  --glassBorder: rgba(255, 255, 255, 0.18);
  --glassBoxShadow: rgba(31, 38, 135, 0.37);

  /* ===== */
  /* Geral */
  /* ===== */

  --display: none;
}

@media screen and (max-width: 40.375em) {
  :root {

    /* ================== */
    /* Varáveis Numéricas */
    /* ================== */

    --defaltPaddingMargin: 10px;
    
    --textPaddingMargin: 40px;
    --textCardMargin: 30px;

    --defaltBoxSizeW: 90vw;
    --defaltBoxSizeV: 45vh;

    --defaltBoxInnerSizeW: 80vw;
    --defaltBoxInnerSizeV: 40vh;

    --fontSize: 15px;

  /* ===== */
  /* Geral */
  /* ===== */

    --display: flex;

  }
}

html {
  min-height: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.page {
  background-color: var(--backgroudPgColor);
  max-width: 100%;
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-direction: column;


  font-family: monospace;
  font-size: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;


  /* ==================== */
  /* Estilização de Vidro */
  /* ==================== */

  background: var(--backgroundHeader);
  box-shadow: 0 3px 32px 0 var(--glassBoxShadow);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border: 1px solid var(--glassBorder);
}

#menu-img {
  width: 32px;
  margin: var(--defaltPaddingMargin);
  cursor: pointer;


}

#headerTitle {
  font-size: var(--fontSize);
  margin: var(--defaltPaddingMargin);

}

.mobile-toolTips{
  display: var(--display);
  margin-top: var(--textPaddingMargin);
  margin-bottom: 0;
  margin-left: var(--defaltPaddingMargin);
  margin-right: var(--defaltPaddingMargin);
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--backgroudMainColor);

  display: flex;
  align-items: center;
  flex-direction: column;

}

.topics-title {
  margin: var(--textPaddingMargin);
  margin: var(--textPaddingMargin);
  text-align: center;
}

.topics {
  margin-top: 50px;
  margin-bottom: 50px;
}

.flip-card {
  background-color: transparent;
  width: var(--defaltBoxSizeW);
  height: var(--defaltBoxSizeV);
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: var(--sectionBorderRadius);
}

.flip-card-front {
  padding: var(--defaltPaddingMargin);
  background-image: linear-gradient(45deg, var(--color1), var(--color5));

}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
  border-radius: var(--sectionBorderRadius);
}

.flip-card-back {
  background-image: linear-gradient(315deg, var(--color1), var(--color5));
  color: var(--fontColor);
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 140px;
  margin-top: 1rem;
  object-fit:scale-down;
  border-radius: var(--sectionBorderRadius);
}

.flip-card-back h3{
  margin: var(--textCardMargin);
  margin-bottom: 0.3rem;
  font-size: 20px;
}

.flip-card-back h1 {
  margin: var(--textCardMargin);
}


::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 50px;

}

body::-webkit-scrollbar-track {
  background: var(--color4);

}

::-webkit-scrollbar-thumb:hover {
  background: var(--hoverColor);

}


*,
*:before,*:after {
  box-sizing: border-box;
}

.footer {
  /* ============== */
  /* Posicionamento */
  /* ============== */

  width: 100%;
  bottom: 0;


  grid-template-rows: auto 1fr auto;
  padding: 30px 30px 20px 30px;


  /* =================== */
  /* Definições da Fonte */
  /* =================== */

  font-family: acumin-pro, system-ui, sans-serif;
  font-size: 14px;

  /* ========================= */
  /* Alinhamento dos Elementos */
  /* ========================= */

  flex-flow: row wrap;
  align-items: start;
  display: flex;
  

  /* ========= */
  /* Aparência */
  /* ========= */

  border-top: 1px solid var(--footerBorder);
  background-color: var(--footerBackground);
  color: var(--footerColor);
}

.footer > * {
  flex: 1 100%;
}

.footerBox {
  margin-right: 1.25em;
  margin-bottom: 2em;

}

#footerLogo {
  width: 32px;
}

.footerBox h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.navTitle {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: var(--footerrColorNav);
}

.footerEmailContact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: var(--footerButtonColor);
  border-radius: 100px;
  color: var(--footerColor);
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footerNav {
  display: flex;
  flex-flow: row wrap;
}

.footerNav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.navUl a {
  color: var(--footerColorNav);
}

@media screen and (min-width: 40.375em) {
  .footerNav>* {
    flex: 1;
  }

  .footerBox {
    flex: 1 0px;
  }

  .footerNav {
    flex: 2 0px;
  }
}
